<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Hello World</title>
</head>
<body>
    <h1>Hello World!</h1>
    
    <p th:text="${ message }">
        전달 받기 전에 데이터는??? (무시됨)
    </p>
    
    <form action="/add" method="post">
        <input type="text" name="name" placeholder="이름을 입력해주세요">
        <button>추가</button>
    </form>
    
    <h2>유저 리스트</h2>
    <ul>
        <li th:each="user : ${users}" th:text="${user.name}">
            반복되면서 user.name으로 채워지면서 지워질 부분
        </li>
    </ul>
</body>
</html>