<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>
			Main Page
		</title>
	</head>
	
	<body>
		<h2>Main Page</h2>
		<form action="/" method="post">
			제목 : <input name="title"><br>
			연도 : <input name="pubYear" type="number"><br>
			<button>등록</button>
		</form>
		<h2>Book List</h2>
		<div th:each="book : ${books}" th:text="${book.title} + '-' + ${book.pubYear}">
			
		</div>
		
		<div th:each="book : ${books}" th:object="${book}">
			<h1 th:text="*{title}"></h1>
			<h2 th:text="*{pubYear}"></h2>
			
		
	</body>
</html>